NodeRed/Node-REd-Clipboard.json
[
    {
        "id": "a63082bb.8598a",
        "type": "tab",
        "label": "Flow IOT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c4024b04.fc56e8",
        "type": "mqtt in",
        "z": "a63082bb.8598a",
        "name": "",
        "topic": "master/datos/json",
        "qos": "2",
        "broker": "fc5c9554.5f0878",
        "x": 111.5,
        "y": 253.00000286102295,
        "wires": [
            [
                "833d666b.2f2ac8"
            ]
        ]
    },
    {
        "id": "833d666b.2f2ac8",
        "type": "json",
        "z": "a63082bb.8598a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 301.5,
        "y": 253.00000381469727,
        "wires": [
            [
                "9f648462.5f11a8",
                "18e1e3e2.33bd1c",
                "b96b2e67.4c5f7",
                "2c493e68.434952",
                "3fcae2a3.13b8ae",
                "d195e1a.0eef02"
            ]
        ]
    },
    {
        "id": "9f648462.5f11a8",
        "type": "debug",
        "z": "a63082bb.8598a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "x": 632.0000076293945,
        "y": 90.00000286102295,
        "wires": []
    },
    {
        "id": "78a0e8c2.8e7398",
        "type": "ui_gauge",
        "z": "a63082bb.8598a",
        "name": "Temp",
        "group": "2020c568.3d410a",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 694.5000114440918,
        "y": 298.0000047683716,
        "wires": [],
        "inputLabels": [
            "msg.payload.BME280.Temperatura"
        ]
    },
    {
        "id": "4624aea6.5b7a7",
        "type": "ui_gauge",
        "z": "a63082bb.8598a",
        "name": "Humedad",
        "group": "2020c568.3d410a",
        "order": 3,
        "width": "0",
        "height": "0",
        "gtype": "wave",
        "title": "Humedad",
        "label": "%",
        "format": "{{msg.payload.BME280.Humedad}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 701.5000114440918,
        "y": 370.00000524520874,
        "wires": []
    },
    {
        "id": "51adefc3.da0bc",
        "type": "ui_chart",
        "z": "a63082bb.8598a",
        "name": "Presión",
        "group": "486ed93f.977a28",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Presión",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "3000",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 702.5000114440918,
        "y": 421.0000057220459,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3a99b04c.f93f6",
        "type": "ui_gauge",
        "z": "a63082bb.8598a",
        "name": "Luz",
        "group": "486ed93f.977a28",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Luz",
        "label": "w/m2",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 701.5000114440918,
        "y": 500.0000071525574,
        "wires": [],
        "inputLabels": [
            "msg.payload.ADC.Iluminacion"
        ]
    },
    {
        "id": "18e1e3e2.33bd1c",
        "type": "ui_text",
        "z": "a63082bb.8598a",
        "group": "2020c568.3d410a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización",
        "format": "{{msg.payload.Fecha}}",
        "layout": "row-spread",
        "x": 628.5000076293945,
        "y": 216.0000023841858,
        "wires": []
    },
    {
        "id": "2c493e68.434952",
        "type": "change",
        "z": "a63082bb.8598a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.BME280.Humedad",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 526.3000030517578,
        "y": 370.0000057220459,
        "wires": [
            [
                "4624aea6.5b7a7"
            ]
        ]
    },
    {
        "id": "b96b2e67.4c5f7",
        "type": "change",
        "z": "a63082bb.8598a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.BME280.Presion",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 523.3000106811523,
        "y": 421.00000619888306,
        "wires": [
            [
                "51adefc3.da0bc"
            ]
        ]
    },
    {
        "id": "3fcae2a3.13b8ae",
        "type": "change",
        "z": "a63082bb.8598a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.BME280.Temperatura",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 528.2999877929688,
        "y": 298,
        "wires": [
            [
                "78a0e8c2.8e7398"
            ]
        ]
    },
    {
        "id": "d195e1a.0eef02",
        "type": "change",
        "z": "a63082bb.8598a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ADC.Iluminacion",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 527.3000106811523,
        "y": 500.00000762939453,
        "wires": [
            [
                "3a99b04c.f93f6"
            ]
        ]
    },
    {
        "id": "fc5c9554.5f0878",
        "type": "mqtt-broker",
        "z": "",
        "name": "master/datos/json",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2020c568.3d410a",
        "type": "ui_group",
        "z": "",
        "name": "datos I",
        "tab": "8672153d.b99268",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "486ed93f.977a28",
        "type": "ui_group",
        "z": "",
        "name": "Datos II",
        "tab": "8672153d.b99268",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8672153d.b99268",
        "type": "ui_tab",
        "z": "",
        "name": "Temp",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]