NodeRed/Node_Red-Leds.json

[{"id":"4dd70382.f5269c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9e5a4add.cf411","type":"ui_switch","z":"4dd70382.f5269c","name":"","label":"switch LED VERDE","tooltip":"","group":"44d2d235.4e39ec","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"{\"led1\" : 1}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"led1\" : 0}","offvalueType":"str","officon":"","offcolor":"","x":106,"y":573,"wires":[["8aefbee.5773fc"]]},{"id":"49c3d093.24f528","type":"mqtt in","z":"4dd70382.f5269c","name":"","topic":"master/leds/estado","qos":"2","broker":"fc5c9554.5f0878","x":96,"y":769,"wires":[["f4e879d5.41919"]]},{"id":"8aefbee.5773fc","type":"mqtt out","z":"4dd70382.f5269c","name":"","topic":"master/leds/orden","qos":"","retain":"","broker":"fc5c9554.5f0878","x":503,"y":576,"wires":[]},{"id":"a4df964f.6398c8","type":"ui_led","z":"4dd70382.f5269c","group":"44d2d235.4e39ec","order":4,"width":0,"height":0,"label":"LED ROJO","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"{\"led2\":1}","valueType":"str"},{"color":"grey","value":"{\"led2\":0}","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":581,"y":859,"wires":[]},{"id":"f939bfe9.80a478","type":"ui_led","z":"4dd70382.f5269c","group":"44d2d235.4e39ec","order":3,"width":0,"height":0,"label":"LED VERDE","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"{\"led1\":1}","valueType":"str"},{"color":"grey","value":"{\"led1\":0}","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":584,"y":773,"wires":[]},{"id":"262ee93f.ac5a5e","type":"mqtt out","z":"4dd70382.f5269c","name":"","topic":"master/leds/orden","qos":"","retain":"","broker":"fc5c9554.5f0878","x":502,"y":640,"wires":[]},{"id":"f4e879d5.41919","type":"switch","z":"4dd70382.f5269c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"led1","vt":"str"},{"t":"cont","v":"led2","vt":"str"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":3,"x":351,"y":769,"wires":[["f939bfe9.80a478"],["a4df964f.6398c8"],["e5d4be5b.3881e"]]},{"id":"e6bc6205.08951","type":"ui_switch","z":"4dd70382.f5269c","name":"","label":"switch LED ROJO","tooltip":"","group":"44d2d235.4e39ec","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"{\"led2\" : 1}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"led2\" : 0}","offvalueType":"str","officon":"","offcolor":"","x":104,"y":639,"wires":[["262ee93f.ac5a5e"]]},{"id":"c8493fc8.461828","type":"debug","z":"4dd70382.f5269c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":632.0000076293945,"y":90.00000286102295,"wires":[]},{"id":"af539a7e.764e9","type":"mqtt in","z":"4dd70382.f5269c","name":"","topic":"master/datos/json","qos":"2","broker":"fc5c9554.5f0878","x":111.5,"y":253.00000286102295,"wires":[["367fbdd1.604172"]]},{"id":"367fbdd1.604172","type":"json","z":"4dd70382.f5269c","name":"","property":"payload","action":"","pretty":false,"x":301.5,"y":253.00000381469727,"wires":[["c8493fc8.461828","a16b8086.5d019","944af6c.1b6b608","f95fb76a.3c3768","508849c8.82de68","fc5a61c2.4eb7c"]]},{"id":"a16b8086.5d019","type":"ui_text","z":"4dd70382.f5269c","group":"fbfa071b.d68688","order":1,"width":0,"height":0,"name":"","label":"Última actualización","format":"{{msg.payload.Fecha}}","layout":"row-spread","x":628.5000076293945,"y":216.0000023841858,"wires":[]},{"id":"508849c8.82de68","type":"change","z":"4dd70382.f5269c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.BME280.Temperatura","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":528.2999877929688,"y":298,"wires":[["37d8f32d.a30fec"]]},{"id":"f95fb76a.3c3768","type":"change","z":"4dd70382.f5269c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.BME280.Humedad","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":526.3000030517578,"y":370.0000057220459,"wires":[["49d4e6a3.89f918"]]},{"id":"944af6c.1b6b608","type":"change","z":"4dd70382.f5269c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.BME280.Presion","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":523.3000106811523,"y":421.00000619888306,"wires":[["7c0f0596.2ebadc"]]},{"id":"fc5a61c2.4eb7c","type":"change","z":"4dd70382.f5269c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ADC.Iluminacion","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":527.3000106811523,"y":500.00000762939453,"wires":[["d4159a97.950d68"]]},{"id":"d4159a97.950d68","type":"ui_gauge","z":"4dd70382.f5269c","name":"Luz","group":"238a25b4.eb37fa","order":2,"width":0,"height":0,"gtype":"donut","title":"Luz","label":"w/m2","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":701.5000114440918,"y":500.0000071525574,"wires":[],"inputLabels":["msg.payload.ADC.Iluminacion"]},{"id":"7c0f0596.2ebadc","type":"ui_chart","z":"4dd70382.f5269c","name":"Presión","group":"238a25b4.eb37fa","order":1,"width":0,"height":0,"label":"Presión","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"3000","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":702.5000114440918,"y":421.0000057220459,"wires":[[],[]]},{"id":"49d4e6a3.89f918","type":"ui_gauge","z":"4dd70382.f5269c","name":"Humedad","group":"fbfa071b.d68688","order":3,"width":"0","height":"0","gtype":"wave","title":"Humedad","label":"%","format":"{{msg.payload.BME280.Humedad}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":701.5000114440918,"y":370.00000524520874,"wires":[]},{"id":"37d8f32d.a30fec","type":"ui_gauge","z":"4dd70382.f5269c","name":"Temp","group":"fbfa071b.d68688","order":2,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"ºC","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":694.5000114440918,"y":298.0000047683716,"wires":[],"inputLabels":["msg.payload.BME280.Temperatura"]},{"id":"e5d4be5b.3881e","type":"ui_text","z":"4dd70382.f5269c","group":"44d2d235.4e39ec","order":5,"width":0,"height":0,"name":"","label":"Último cambio","format":"{{msg.payload}}","layout":"row-spread","x":612.2222900390625,"y":934.4444580078125,"wires":[]},{"id":"44d2d235.4e39ec","type":"ui_group","z":"","name":"LEDS","tab":"95aa5dc6.5e8a1","disp":true,"width":"6","collapse":false},{"id":"fc5c9554.5f0878","type":"mqtt-broker","z":"","name":"master/leds/orden","broker":"iot.ac.uma.es","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fbfa071b.d68688","type":"ui_group","z":"","name":"datos I","tab":"95aa5dc6.5e8a1","order":2,"disp":true,"width":"6","collapse":false},{"id":"238a25b4.eb37fa","type":"ui_group","z":"","name":"Datos II","tab":"95aa5dc6.5e8a1","order":3,"disp":true,"width":"6","collapse":false},{"id":"95aa5dc6.5e8a1","type":"ui_tab","z":"","name":"leds","icon":"dashboard","disabled":false,"hidden":false}]