NodeRed/Node_Red_Master_IOT.json
[{"id":"8e0c8e64.10ba1","type":"tab","label":"Master IOT","disabled":false,"info":""},{"id":"3d31203.ec43ae","type":"ui_switch","z":"8e0c8e64.10ba1","name":"","label":"switch LED VERDE","tooltip":"","group":"44d2d235.4e39ec","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"{\"led1\" : 1}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"led1\" : 0}","offvalueType":"str","officon":"","offcolor":"","x":106,"y":573,"wires":[["490de3cc.b29cec"]]},{"id":"4f808af3.38ace4","type":"mqtt in","z":"8e0c8e64.10ba1","name":"","topic":"master/leds/estado","qos":"2","broker":"fc5c9554.5f0878","x":96,"y":769,"wires":[["e99679eb.f74d5"]]},{"id":"490de3cc.b29cec","type":"mqtt out","z":"8e0c8e64.10ba1","name":"","topic":"master/leds/orden","qos":"","retain":"","broker":"fc5c9554.5f0878","x":503,"y":576,"wires":[]},{"id":"af5a29cd.bc0488","type":"ui_led","z":"8e0c8e64.10ba1","group":"44d2d235.4e39ec","order":4,"width":0,"height":0,"label":"LED ROJO","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"{\"led2\":1}","valueType":"str"},{"color":"grey","value":"{\"led2\":0}","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":713.8571166992188,"y":857.5714111328125,"wires":[]},{"id":"44d910e0.2b8d98","type":"ui_led","z":"8e0c8e64.10ba1","group":"44d2d235.4e39ec","order":3,"width":0,"height":0,"label":"LED VERDE","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"green","value":"{\"led1\":1}","valueType":"str"},{"color":"grey","value":"{\"led1\":0}","valueType":"str"}],"allowColorForValueInMessage":false,"name":"","x":721.1428833007812,"y":754.4285888671875,"wires":[]},{"id":"9e39f13f.114fd8","type":"mqtt out","z":"8e0c8e64.10ba1","name":"","topic":"master/leds/orden","qos":"","retain":"","broker":"fc5c9554.5f0878","x":502,"y":640,"wires":[]},{"id":"e99679eb.f74d5","type":"switch","z":"8e0c8e64.10ba1","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"led1","vt":"str"},{"t":"cont","v":"led2","vt":"str"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":3,"x":455.2857360839844,"y":767.5714721679688,"wires":[["44d910e0.2b8d98"],["af5a29cd.bc0488"],["1d8b72e.eef890d"]]},{"id":"6d9cfa9f.ffd33c","type":"ui_switch","z":"8e0c8e64.10ba1","name":"","label":"switch LED ROJO","tooltip":"","group":"44d2d235.4e39ec","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"{\"led2\" : 1}","onvalueType":"str","onicon":"","oncolor":"","offvalue":"{\"led2\" : 0}","offvalueType":"str","officon":"","offcolor":"","x":104,"y":639,"wires":[["9e39f13f.114fd8"]]},{"id":"1d8b72e.eef890d","type":"ui_text","z":"8e0c8e64.10ba1","group":"44d2d235.4e39ec","order":5,"width":0,"height":0,"name":"","label":"Último cambio","format":"{{msg.payload}}","layout":"row-spread","x":743.65087890625,"y":953.015869140625,"wires":[]},{"id":"7da28104.dd98d8","type":"debug","z":"8e0c8e64.10ba1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":616.2857055664062,"y":89.99999237060547,"wires":[]},{"id":"c08bd101.ad6cf8","type":"json","z":"8e0c8e64.10ba1","name":"","property":"payload","action":"","pretty":false,"x":301.5,"y":253.00000381469727,"wires":[["7da28104.dd98d8","ec80126d.1b3d9","3693f57b.5632e2","4a6c10a5.74e91","d8b637ae.47efb8","45bf62b.7ca401c"]]},{"id":"c267ad13.f483b8","type":"mqtt in","z":"8e0c8e64.10ba1","name":"","topic":"master/datos/json","qos":"2","broker":"fc5c9554.5f0878","x":111.5,"y":253.00000286102295,"wires":[["c08bd101.ad6cf8"]]},{"id":"ec80126d.1b3d9","type":"change","z":"8e0c8e64.10ba1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ADC.Iluminacion","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":617.3000717163086,"y":494.28568267822266,"wires":[["ee548b7a.9f1bf8"]]},{"id":"ee548b7a.9f1bf8","type":"ui_gauge","z":"8e0c8e64.10ba1","name":"Luz","group":"238a25b4.eb37fa","order":2,"width":0,"height":0,"gtype":"donut","title":"Luz","label":"w/m2","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":985.785888671875,"y":492.8570861816406,"wires":[],"inputLabels":["msg.payload.ADC.Iluminacion"]},{"id":"3693f57b.5632e2","type":"change","z":"8e0c8e64.10ba1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.BME280.Temperatura","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":618.300048828125,"y":292.2856750488281,"wires":[["ce6d53d6.3928c"]]},{"id":"4a6c10a5.74e91","type":"change","z":"8e0c8e64.10ba1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.BME280.Humedad","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":616.3000640869141,"y":364.285680770874,"wires":[["53fda8a3.ccca08"]]},{"id":"d8b637ae.47efb8","type":"change","z":"8e0c8e64.10ba1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.BME280.Presion","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":613.3000717163086,"y":415.2856812477112,"wires":[["3996995f.10599e"]]},{"id":"3996995f.10599e","type":"ui_chart","z":"8e0c8e64.10ba1","name":"Presión","group":"238a25b4.eb37fa","order":1,"width":0,"height":0,"label":"Presión","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"3000","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":995.3572998046875,"y":412.4285583496094,"wires":[[],[]]},{"id":"45bf62b.7ca401c","type":"function","z":"8e0c8e64.10ba1","name":"","func":"var ahora = new Date();  // obtengo la fecha y hora actual en un objeto de la clase \"Date\"\n\nmsg.payload={};\n\nmsg.payload.fecha=ahora;\n\nmsg.payload.timestamp=ahora.getTime(); \n\nmsg.payload.hora=ahora.toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour12: false });\n\nmsg.payload.dia=ahora.toLocaleDateString('es-ES', { timeZone: 'Europe/Madrid' });\n\nmsg.payload.tiempo = msg.payload.dia + \" \" +  msg.payload.hora ;\n\nreturn msg;","outputs":1,"noerr":0,"x":589.9999389648438,"y":199.99993896484375,"wires":[["461a8b34.8e9284"]]},{"id":"461a8b34.8e9284","type":"change","z":"8e0c8e64.10ba1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tiempo","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":802.2857666015625,"y":198.99996948242188,"wires":[["2db91806.83407"]]},{"id":"2db91806.83407","type":"ui_text","z":"8e0c8e64.10ba1","group":"fbfa071b.d68688","order":1,"width":0,"height":0,"name":"","label":"Última actualización","format":"{{value}}","layout":"row-left","x":1044.5000610351562,"y":199.42855834960938,"wires":[]},{"id":"ce6d53d6.3928c","type":"ui_gauge","z":"8e0c8e64.10ba1","name":"","group":"fbfa071b.d68688","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1004.2857666015625,"y":288.5713806152344,"wires":[]},{"id":"53fda8a3.ccca08","type":"ui_gauge","z":"8e0c8e64.10ba1","name":"","group":"fbfa071b.d68688","order":3,"width":0,"height":0,"gtype":"wave","title":"Humedad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":998.571533203125,"y":361.42852783203125,"wires":[]},{"id":"44d2d235.4e39ec","type":"ui_group","z":"","name":"LEDs","tab":"95aa5dc6.5e8a1","disp":true,"width":"6","collapse":false},{"id":"fc5c9554.5f0878","type":"mqtt-broker","z":"","name":"master/leds/orden","broker":"iot.ac.uma.es","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"238a25b4.eb37fa","type":"ui_group","z":"","name":"Datos II","tab":"95aa5dc6.5e8a1","order":3,"disp":true,"width":"6","collapse":false},{"id":"fbfa071b.d68688","type":"ui_group","z":"","name":"Datos I","tab":"95aa5dc6.5e8a1","order":2,"disp":true,"width":"6","collapse":false},{"id":"95aa5dc6.5e8a1","type":"ui_tab","z":"","name":"MASTER IoT","icon":"dashboard","disabled":false,"hidden":false}]