NodeRed/Node_Red_Time.json

[{"id":"d131877c.12f888","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"716d8702.50dc28","type":"mqtt in","z":"d131877c.12f888","name":"","topic":"master/datos/json","qos":"2","broker":"fc5c9554.5f0878","x":111.5,"y":253.00000286102295,"wires":[["6d3308e3.ffa368"]]},{"id":"6d3308e3.ffa368","type":"json","z":"d131877c.12f888","name":"","property":"payload","action":"","pretty":false,"x":301.5,"y":253.00000381469727,"wires":[["5e591a84.b0dd84","98f12a53.4f2fa8","5b670c30.a3dcf4","9384fc2c.e69c7","74d762d3.fa179c","ee83c43b.4813a8"]]},{"id":"5e591a84.b0dd84","type":"debug","z":"d131877c.12f888","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","x":632.0000076293945,"y":90.00000286102295,"wires":[]},{"id":"381c9fab.06daf","type":"ui_chart","z":"d131877c.12f888","name":"Presión","group":"9c643187.23ab4","order":1,"width":0,"height":0,"label":"Presión","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"3000","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":702.5000114440918,"y":421.0000057220459,"wires":[[],[]]},{"id":"f1aa1dad.a32b9","type":"ui_gauge","z":"d131877c.12f888","name":"Luz","group":"9c643187.23ab4","order":2,"width":0,"height":0,"gtype":"donut","title":"Luz","label":"w/m2","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":701.5000114440918,"y":500.0000071525574,"wires":[],"inputLabels":["msg.payload.ADC.Iluminacion"]},{"id":"fe9b0c6e.5d3a","type":"ui_text","z":"d131877c.12f888","group":"b35d051c.b7a3b8","order":1,"width":0,"height":0,"name":"","label":"Última actualización","format":"{{value}}","layout":"row-left","x":964.5,"y":221,"wires":[]},{"id":"98f12a53.4f2fa8","type":"change","z":"d131877c.12f888","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.BME280.Presion","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":523.3000106811523,"y":421.00000619888306,"wires":[["381c9fab.06daf"]]},{"id":"5b670c30.a3dcf4","type":"change","z":"d131877c.12f888","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ADC.Iluminacion","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":527.3000106811523,"y":500.00000762939453,"wires":[["f1aa1dad.a32b9"]]},{"id":"962d766a.920e38","type":"ui_gauge","z":"d131877c.12f888","name":"","group":"b35d051c.b7a3b8","order":3,"width":0,"height":0,"gtype":"wave","title":"Humedad","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":703.5,"y":361,"wires":[]},{"id":"9384fc2c.e69c7","type":"change","z":"d131877c.12f888","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.BME280.Humedad","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":522,"y":363,"wires":[["962d766a.920e38"]]},{"id":"23a3db65.34d7e4","type":"change","z":"d131877c.12f888","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tiempo","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":738,"y":222,"wires":[["fe9b0c6e.5d3a"]]},{"id":"74d762d3.fa179c","type":"function","z":"d131877c.12f888","name":"","func":"var ahora = new Date();  // obtengo la fecha y hora actual en un objeto de la clase \"Date\"\n\nmsg.payload={};\n\nmsg.payload.fecha=ahora;\n\nmsg.payload.timestamp=ahora.getTime(); \n\nmsg.payload.hora=ahora.toLocaleTimeString('es-ES', { timeZone: 'Europe/Madrid', hour12: false });\n\nmsg.payload.dia=ahora.toLocaleDateString('es-ES', { timeZone: 'Europe/Madrid' });\n\nmsg.payload.tiempo = msg.payload.dia + \" \" +  msg.payload.hora ;\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":233,"wires":[["23a3db65.34d7e4"]]},{"id":"e3ac39cd.45c968","type":"ui_gauge","z":"d131877c.12f888","name":"","group":"b35d051c.b7a3b8","order":2,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":715.5,"y":298,"wires":[]},{"id":"ee83c43b.4813a8","type":"change","z":"d131877c.12f888","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.BME280.Temperatura","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":508.5,"y":290,"wires":[["e3ac39cd.45c968"]]},{"id":"fc5c9554.5f0878","type":"mqtt-broker","z":"","name":"","broker":"iot.ac.uma.es","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9c643187.23ab4","type":"ui_group","z":"","name":"Datos II","tab":"6de8ea86.35aa54","order":3,"disp":true,"width":"6","collapse":false},{"id":"b35d051c.b7a3b8","type":"ui_group","z":"","name":"datos I","tab":"6de8ea86.35aa54","order":2,"disp":true,"width":"6","collapse":false},{"id":"6de8ea86.35aa54","type":"ui_tab","z":"","name":"Temp","icon":"dashboard","disabled":false,"hidden":false}]
